<div class="card-product">
  <img src=<%= artist.photo %> />
  <div class="card-product-infos">
  <% if artist.artist_name? %>
    <h2><%= artist.first_name %> <%= artist.last_name %>, also known as <%= artist.artist_name %></h2>
    <p><%= artist.bio %></p>
    <p> <%= artist.city %></p>
    <div class="artist-card-arts">
    <% if artist.arts.present? %>
<%= cl_image_tag artist.arts.sample.photo, height: 99, width: 132, crop: :fill %>
<%= cl_image_tag artist.arts.sample.photo, height: 99, width: 132, crop: :fill %>
    <% end %>
      </div>
     <% artist.tag_list.each do |tag| %>
            <%= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
     <% end %>
    <%= link_to 'See more of this creator', artist_path(artist ), class: 'btn btn-primary'  %>

 <div class="d-flex justify-content-between w-100">
    <%= flag_icon(artist.country.to_sym.downcase) %> <%#= artist.city %>
    <p><%=artist.get_likes.size %> likes! </p>
    <p> Viewed <%= artist.hits %> times </p>
</div>


    <% else %>

    <h2><%= artist.first_name %> <%= artist.last_name %></h2>
    <p><%= artist.bio %></p>
    <p> <%= artist.city %></p>
    <% artist.tag_list.each do |tag| %>
            <%= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
    <% end %>
    <%= cl_image_tag artist.arts[0].photo %>
    <%= cl_image_tag artist.arts[1].photo if artist.arts[1] %>
    <%= cl_image_tag artist.arts[2].photo if artist.arts[2] %>
    <%= flag_icon(artist.country.to_sym.downcase) %>
    <%= link_to 'See more of this creator', artist_path(artist )  %>
    <% end %>
  </div>
</div>



