Select your Country:

  <%= simple_form_for(:country, method: :get, url: '/artists_countries', input_html: { id: "country_select_again"}) do |f| %>
    <%= f.input :country, collection: CountryStateSelect.countries_collection.sort, input_html: { id: "country_select"} %>
    <%= f.submit %>
  <% end %>

  <% if params[:country] %>
    <p>All of the artists of <%= params[:country][:country] %> ! </p>
      <%= flag_icon(params[:country][:country].to_sym.downcase, class:"flag-size") %>
      <% @artists.each do |artist| %>
        <div>
          <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
        </div>
    <% end %>
  <% end %>

  <%# <div class="row align-items-center justify-content-center py-2"> %>
    <%# <%= will_paginate @artists %>
  <%# </div> %>
