Country name, flag, cards for, top artists, top art, cities, trendy shit, etc.
Sorted/filtered by...

Select your Country:

<%= simple_form_for(:country, as: :select2, method: :get, url: '/artists_countries') do |f| %>
  <%= f.input :country, as: :select2, collection: CountryStateSelect.countries_collection.sort %>
  <%= f.submit %>
<% end %>  

    <% if params[:country] %>
    <p>All of the artists of <%= params[:country][:country] %> ! </p>
      <%= flag_icon(params[:country][:country].to_sym.downcase, class:"flag-size") %>
      <% @artists.each do |artist| %>
        <div>
          <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
        </div>
      <% end %>
    <% end %>

