<div class="container">
  <div class="row">
    <div class="col mt-4">
      <img src="" alt="" class="img-fluid">
    </div>
    <div class="col card p-4 m-4 bg-light">
      <h1>Edit your profile</h1>

     <%= simple_form_for @artist do |f|%>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :artist_name, label: "Artist name if you have one?" %>
      <%= f.input :photo, label: "Reupload original or pick a new photo" %>
      <%= f.input :age %>
      <%= f.input :bio, label: "Biography" %>
      <%#= f.input :form, as: :select2, collection: @category, multiple: true, label: "What types of art do you do?"  %>
      <%= f.input :tag_ids, as: :select2, collection: Tag.art_kinds, input_html: {multiple: true}, label: "What types of art do you do?" %>
      <%= f.input :country, as: :select2, collection: CountryStateSelect.countries_collection.sort %>
      <%= f.input :city %>
      <%= f.input :birth_place, label: "Country of birth if different", collection: CountryStateSelect.countries_collection.sort %>
      <%= f.input :website %>
      <%= f.input :instagram %>
      <%= f.input :facebook %>
      <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
