<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-dark row align-items-center justify-content-center py-2">Browse the creators of Creaze!</h2>
    </div>

<div class="container align-items-center">
<p class="row">
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Use search parameters
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
<%= simple_form_for :search, url: artists_path, method: "GET" do |f| %>
    <%= f.input :tag_list, collection: Artist.media, input_html: {multiple: true, id: "artist_kinds_search"}, label: "What medium of artist do you wish to find?", required: false %>
    <%= f.input :tag_list, collection: Artist.styles, input_html: {multiple: true, id: "artist_styles_search"}, label: "What style of artist do you do want?", required: false %>
    <%= f.input :country, collection: CountryStateSelect.countries_collection.sort, required: false, input_html: {id: "artists_country_search"} %>
    <%= f.input :city, id:"artist_city", required: false %>
    <%= f.input :sorted_by, :collection => %w[most_likes most_viewed most_recent most_followed], required: false %>
    <%= link_to "Reset", artists_path  %>
    <%= f.submit 'Submit', class: 'btn btn-primary'%>
  <% end %>
  </div>
</div>
</div>




    <% if params[:country] %>
      <% if params[:country].class != String %>
        <p>All of the artists of <%= params[:country][:country] %> ! </p>
      <%= flag_icon(params[:country][:country].to_sym.downcase, class:"flag-size") %>
      <% else %>
        <p>All of the artists of <%= params[:country] %> ! </p>
      <%= flag_icon(params[:country].to_sym.downcase, class:"flag-size") %>
      <% end %>
      <% @artists.each do |artist| %>
        <div>
          <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
        </div>
      <% end %>
    <% end %>

 <div class="content pt-3">
    <div class="container artists-index-grid">
     <% @artists.each do |artist| %>
      <div class="row ">
        <div class="products pl-5 card-grid-3c">
          <%#= render partial: 'shared/artist_card', locals: {artist: artist} %>
          <%= render partial: 'shared/artist_card_experimental', locals: {artist: artist} %>
        </div>
      </div>
      <% end %>
    </div>
    </div>

  </div>

  <div class="row align-items-center justify-content-center py-2">
    <%= will_paginate @artists %>
  </div>
</section>


