<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Artists!</h2>
    </div>

  <%= simple_form_for :search, url: artists_path, method: "GET" do |f| %>
    <%= f.input :tag_ids, as: :select2, collection: Tag.art_kinds, input_html: {multiple: true}, label: "What kind of artist do you do want?", required: false %>
    <%= f.input :country, as: :select2, collection: CountryStateSelect.countries_collection.sort, required: false %>
    <%= f.input :city, id:"artist_city", required: false %>
    <%= link_to "Reset", artists_path  %>
    <%= f.submit 'Submit', class: 'btn btn-primary'%>
  <% end %>


    <% if params[:country] %>
      <% if params[:country].class != String %>
        <p>All of the artists of <%= params[:country][:country] %> ! </p>
      <%= flag_icon(params[:country][:country].to_sym.downcase, class:"flag-size") %>
      <% else %>
        <p>All of the artists of <%= params[:country] %> ! </p>
      <%= flag_icon(params[:country].to_sym.downcase, class:"flag-size") %>
      <% end %>
      <% @artists.each do |artist| %>
        <div>
          <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
        </div>
      <% end %>
    <% end %>

    <div class="content">
      <div class="products pl-5 card-grid-3c">
      <% @artists.each do |artist| %>
        <div>
          <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</section>


