
<div class="container">
  <div class="row ">
    <div class="col mt-4">
      <img src="" alt="" class="img-fluid">
    </div>
    <div class="col card p-4 m-4 bg-light ">
    <div class="row align-items-center justify-content-center">
      <h1>Are you an artist?</h1>
      <h2>Share your art with the world!</h2>
      <h2>Let the world discover you directly!</h2>
      <h2>No art dealers or galleries!</h2>
      <p>Easy and free to sign up!</p>
    </div>

      <%= simple_form_for @artist do |f|%>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :artist_name, label: "Place your artist name if you have one, or repeat your full name again for your URL." %>
      <%= f.input :photo %>
      <%= f.input :age %>
      <%= f.input :bio, label: "Biography" %>
      <%#= f.input :tag_ids, as: :select2, collection: Tag.art_kinds, input_html: {multiple: true}, label: "What types of art do you do?" %>
      <%#= f.input :country, as: :select2, collection: CountryStateSelect.countries_collection.sort %>
      <%= f.input :tag_ids, collection: Tag.art_kinds, input_html: {multiple: true, id: "artist_new_tags"}, label: "What types of art do you do?" %>
      <%= f.input :country, collection: CountryStateSelect.countries_collection.sort, input_html: {id: "artist_search_country"} %>
      <%= f.input :city %>
      <%= f.input :birth_place, label: "Country of birth if different", collection: CountryStateSelect.countries_collection.sort %>
      <%= f.input :website, placeholder: 'www.yourwebsite.com', label: "Full Website URL" %>
      <%= f.input :instagram, placeholder: 'www.instagram.com/', label: "Instagram Username" %>
      <%= f.input :facebook, placeholder: 'www.facebook.com/', label: "Facebook Username" %>
      <div style="text-align:center">
      <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
      </div>
      <% end %>
      </div>
    </div>
  </div>
