If statements for website/social
 <div class="row align-items-center justify-content-center">
<%= render partial: 'shared/artist_card_show', locals: {artist: @artist} %>
</div>
<div class="row align-items-center justify-content-center">
<div class="row">
    <%= link_to 'like', artist_like_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'unlike', artist_unlike_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'follow', artist_follow_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'unfollow', artist_unfollow_path(@artist), class: 'btn btn-primary' %>
  </div>
</div>

<div class="row align-items-center justify-content-center">
<div class="row">
<% if @conversation %>
  <p>Send a message (exist) <%= link_to 'Message', @conversation, class: 'btn btn-primary' %></p>
  <br>
<% else %>
  <p> Send this artist a message! <%= link_to 'New Message', new_conversation_path(receiver_id: params[:id]), class: 'btn btn-primary' %> </p>
<% end %>
<br>
    <% @artist.artist_name %> | <%= link_to 'Send a message', new_message_path(receiver_id: @artist.user_id), class: 'btn btn-primary' %>

  </div>
</div>

 <div class="row align-items-center justify-content-center">
    <p><strong>Share: </strong><%= social_share_button_tag(@artist.first_name,) %>
  </div>

<div class="my-5 row align-items-center justify-content-center">
    <p><small>Tags: <%= raw @artist.tags.map(&:name).map { |t| link_to t, browse_path(t) }.join(', ') %></small></p>
    </div>
    <div class="row align-items-center justify-content-center">
    <p><small>Tags: <%= raw @artist.tags.map(&:name).map { |t| link_to t, artists_path(t) }.join(', ') %></small></p>

<p><small>Tags: <%= raw @artist.tags.map(&:name).map { |t| link_to t, artists_path(t) }.join(', ') %></small></p>
</div>


  <div class="row align-items-center justify-content-center">
     <div class="row">
    Here is a small selection of their art.  TURN INTO GRID AFTER ART FIX.
     </div>
  </div>

     <div class="container col-sm-9">
      <div class="row align-items-center justify-content-center">
    <% @artist.arts.sample(3).each do |art| %>
    <div>
    <%= render partial: 'shared/art_card', locals: {art: art} %>
    </div>
    <% end %>
    </div>
    </div>
<br>
   <div class="row align-items-center justify-content-center">
     <div class="row">
        <%= link_to 'See all of their art!', artist_arts_path(@artist.id), class: 'btn btn-primary'  %>
     </div>
   </div>
