Show how many people like + follow them.
Not working though.

<%#= link_to 'Country artist', artist_country_path(@artist.country) %>

<div class="container">
<div class="row">
    <%= link_to 'like', artist_like_path(@artist) %>
    <%= link_to 'unlike', artist_unlike_path(@artist) %>
    <%= link_to 'follow', artist_follow_path(@artist) %>
    <%= link_to 'unfollow', artist_unfollow_path(@artist) %>
  </div>
</div>

<div class="container">
<div class="row">
<% if @conversation %>
  <p>Send a message (exist) <%= link_to 'Message', @conversation %></p>
<% else %>
  <p> Send this artist a message! <%= link_to 'New Message', new_conversation_path(receiver_id: params[:id]) %> </p>
<% end %>
<br>
    <%= @artist.artist_name %> | <%= link_to 'Send a message', new_message_path(receiver_id: @artist.user_id) %>

  </div>
</div>


<div class="container">
<div class="row">
<p><%=@artist.first_name %> has <%= @artist.followers_count %> followers! </p>
  </div>
</div>

<div class="container">
<div class="row">
<p><%=@artist.get_likes.size %> likes! </p>
  </div>
</div>

<div class="container">
<div class="row">
<p><%=link_to 'see followers', artist_followers_path(@artist) %>  </p>
  </div>
</div>



<h1>Artist<h1>
<div class="container">
  <div class="row">
    First name: <%=@artist.first_name %>
    <br>
    Last name: <%=@artist.last_name %>
    <br>
    <%=@artist.artist_name %>
    <br>
    <%=@artist.birth_place %>
    <br>
     <%= cl_image_tag(@artist.photo,
    width: 200, height: 150, crop: :fill) %>
    <br>
    <%=@artist.bio %>
    <br>
    <%=@artist.age %>
    <br>
    <%=@artist.city %>
    <br>
    <%=@artist.website %>
    <br>
    <%=@artist.instagram %>
    <br>
    <%=@artist.facebook %>
    <br>



    Here is one example of their art.
    Click here to see more of their art!
    <%= link_to 'See their art!', artist_arts_path(@artist.id)  %>

    <% @artist.arts.each do |art| %>
    Name: <%= art.title %>
    <br>
    <div class="container">
      <div class="row">
    <ul>
        <% art.photos.each do |photo| %>
        <li><%= cl_image_tag(photo.photo, width: 400, height: 300, crop: :fill) %></li>
      <% end %>
    </ul>
      </div>
    </div>
    <br>
    Art description: <%= art.description %>
    <br>
    Completed on: <%= art.completion_date %>
    <br>
    Inspiration: <%= art.inspiration %>
    <br>
    Available to buy? <%= art.available %>
    <br>
    <% if art.available?%>
   Price: <%= art.price_cents %>
   <% end %>
    <% end %>





