<div class="my-5">
      <% @artist.tags.each do |tag| %>
        <p class="mb-0">TAG: <%= tag.name %></p>
      <% end %>
    </div>
    <p><small>Tags: <%= raw @artist.tags.map(&:name).map { |t| link_to t, browse_path(t) }.join(', ') %></small></p>

<p><small>Tags: <%= raw @artist.tags.map(&:name).map { |t| link_to t, browse_path(t) }.join(', ') %></small></p>
<div class="container">
<div class="row">
    <%= link_to 'like', artist_like_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'unlike', artist_unlike_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'follow', artist_follow_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'unfollow', artist_unfollow_path(@artist), class: 'btn btn-primary' %>
  </div>
</div>

<div class="container">
<div class="row">
<p> Viewed <%= @artist.hits %> times </p>
  </div>
</div>

<div class="container">
<div class="row">
<% if @conversation %>
  <p>Send a message (exist) <%= link_to 'Message', @conversation, class: 'btn btn-primary' %></p>
  <br>
<% else %>
  <p> Send this artist a message! <%= link_to 'New Message', new_conversation_path(receiver_id: params[:id]), class: 'btn btn-primary' %> </p>
<% end %>
<br>
    <%= @artist.artist_name %> | <%= link_to 'Send a message', new_message_path(receiver_id: @artist.user_id), class: 'btn btn-primary' %>

  </div>
</div>


<div class="container">
<div class="row">
<p><%=@artist.first_name %> has <%= @artist.followers_count %> followers! </p>
  </div>
</div>

<div class="container">
<div class="row">
<p><%=@artist.get_likes.size %> likes! </p>
  </div>
</div>

<div class="container">
<div class="row">
<p><%=link_to 'see followers', artist_followers_path(@artist) %>  </p>
  </div>
</div>



<h1>Artist<h1>
<div class="container">
  <div class="row">
    First name: <%=@artist.first_name %>
    <br>
    Last name: <%=@artist.last_name %>
    <br>
    <%=@artist.artist_name %>
    <br>
    <%=@artist.birth_place %>
    <br>
     <%= cl_image_tag(@artist.photo,
    width: 200, height: 150, crop: :fill) %>
    <br>
    <%=@artist.bio %>
    <br>
    <%=@artist.age %>
    <br>
    <%=@artist.city %>
    <br>
    <%=@artist.website %>
    <br>
    <%=@artist.instagram %>
    <br>
    <%=@artist.facebook %>
    <br>



  <div class="container">
     <div class="row">
    Here is a small selection of their art.
    Click here to see more of their art!
     </div>
  </div>


   <div class="container">
     <div class="row">
        <%= link_to 'See all of their art!', artist_arts_path(@artist.id)  %>

     </div>
   </div>

     <div class="content">
      <div class="products pl-5 card-grid-3c">
    <% @artist.arts.sample(3).each do |art| %>
    <div>
    <%= render partial: 'shared/art_card', locals: {art: art} %>
    </div>
    <% end %>
    </div>
    </div>
