<div class="row align-items-center justify-content-center pt-2">
  <%= render partial: 'shared/artist_card_show', locals: {artist: @artist} %>
</div>

<div class="row align-items-center justify-content-center py-2">
<div class="row">
    <%= link_to 'like', artist_like_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'unlike', artist_unlike_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'follow', artist_follow_path(@artist), class: 'btn btn-primary' %>
    <%= link_to 'unfollow', artist_unfollow_path(@artist), class: 'btn btn-primary' %>
  </div>
</div>

<div class="row align-items-center justify-content-center py-3">
<div class="row">
<% if !user_signed_in? %>
<p><strong>Create an account to send this artist a message!</strong></p>
<% end %>
<% if @artist.artist_name && current_user%>
  <%= link_to "Message #{@artist.artist_name.capitalize}", conversations_path(author_id: current_user.id, receiver_id: @artist.user_id), method: "post", class: 'btn btn-primary' %>
  <% elsif current_user%>
  <%= link_to "Message #{@artist.first_name.capitalize + @artist.last_name.capitalize}", conversations_path(author_id: current_user.id, receiver_id: @artist.user_id), method: "post", class: 'btn btn-primary' %>
  <% end %>
</div>
</div>


 <div class="row align-items-center justify-content-center py-1">
    <p><strong>Share: </strong><%= social_share_button_tag(@artist.first_name.capitalize,) %>
  </div>


     <p class="grid-headers">  Here is a small selection of their art.</p>
     <div class="container front-page-grid">
     <% @artist.arts.sample(3).each do |art| %>
     <div class="row">
      <div class="products pl-5 card-grid-3c">
    <%= render partial: 'shared/home_art_card', locals: {art: art} %>
    </div>
    </div>
    <% end %>
    </div>

<br>
   <div class="row align-items-center justify-content-center">
     <div class="row">
        <%= link_to 'See all of their art!', artist_arts_path(@artist.id), class: 'btn btn-primary'  %>
     </div>
   </div>
