<div class="row align-items-center justify-content-center">
   <div class="col-sm-8">
     <div class="">
      <img src="" alt="" class="img-fluid">
    </div>
    <div class="col card p-4 m-4 bg-light ">
    <div class="row align-items-center justify-content-center">
      <h1>Find an amazing creator to fill your job with</h1>
      <p>Creaze has the best creators in the world</p>
    </div>

      <%= simple_form_for @job do |f|%>
      <%= f.input :title %>
      <%= f.input :description, as: :trix_editor, label: "Description of the job" %>
      <%= f.input :requirements, label: "What's required for candidates to be eligible?" %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :salary, label: "What's the salary?" %>
      <%= f.input :tag_list, collection: Job.media, input_html: {multiple: true, id: "artist_new_tags"}, label: "Does the job involve a specific medium of creation?" %>
      <%= f.input :tag_list, collection: Job.styles, input_html: {multiple: true, id: "artist_new_styles"}, label: "What about a certain style of art?" %>
      <%= f.input :country, collection: CountryStateSelect.countries_collection.sort, input_html: {id: "artist_search_country"} %>
      <%= f.input :city %>
      <%= f.input :remote, as: :radio_buttons, label: "Is it a remote position?" %>
      <%= f.input :company, label: "Name of the hiring company?" %>
      <%= f.input :seniority, collection: Job.seniority %>
      <%= f.input :industry, collection: Job.industry %>
      <%= f.input :benefits, label: "What benefits do you provide to employees?" %>
      <%= f.input :why, label: "Why should candidates want to work for you?" %>
      <%= f.input :frequency, collection: Job.frequency, input_html: {multiple: true, id: "job_new_frequency"} %>
      <%= f.input :preferred, label: "What would you ideally prefer from candidates?" %>
      <div style="text-align:center">
      <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
      </div>
      <% end %>
      </div>
    </div>
  </div>
