<div class="card mb-3 col-sm-6 card align-items-center", id="artist-card-show">
  <%= cl_image_tag @artist.photo,
    width: 300, height: 225, crop: :fill, class: "img-raised rounded-circle img-fluid" %>
  <div class="card-body">
  <% if @artist.artist_name %>
	  <h3 class="title row align-items-center justify-content-center"><%= @artist.first_name %> <%= @artist.last_name %>, also known as <%= @artist.artist_name %></h3>
  <% else %>
    <h3 class="title"><%= @artist.first_name %><%= @artist.last_name %></h3>
   <% end %>
    <p class="card-text row align-items-center justify-content-center"><%= @artist.bio %></p>
    <p class="card-text row align-items-center justify-content-center"><small class="text-muted"><%=  %></small></p>
    <p class="card-text row align-items-center justify-content-center"><%= @artist.age %> Years old</p>
    <p class="card-text row align-items-center justify-content-center"><%= @artist.city %>, <%= @artist.country %> <%= flag_icon(@artist.country.to_sym.downcase) %></p>
    <p class="card-text row align-items-center justify-content-center">Originally from <%= @artist.birth_place %></p>
    <p class="card-text row align-items-center justify-content-center"><small>Tags: <%= raw @artist.tags.map(&:name).map { |t| link_to t, browse_path(tag: t) }.join(', ') %></small></p>
  </div>
<div class="d-flex justify-content-between w-100">
<p>Has <%=@artist.get_likes.size %> likes! </p>
<p>Followers: <%= @artist.followers_count %></p>
<p> Viewed <%= @artist.hits %> times </p>
</div>
</div>

