<div id="article-card-css">
  <div class="example-2 card">
    <div class="wrapper" style="background: url('<%= cl_image_path article.photo, height: 400, width: 350, crop: :fill %>')">
      <div class="header">
        <div class="date">
          <span class="day"><%= article.created_at.strftime("%b %d, %Y") %></span>
        </div>
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-bookmark-o"></a>
          </li>
          <li><a href="#" class="fa fa-heart-o"><span><%= article.get_likes.size %></span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
        </ul>
      </div>
      <div class="data">
        <div class="content">
          <span class="author"><%= article.artist.artist_name %></span>
          <h1 class="title"><a href="<%= artist_article_path(@artist, article) %>"><%= article.title %></a></h1>
          <p class="text">
          <%= article.tag_list.each do |tag| %> <%# Check this again after seeding to see if it looks ok with tags! %>
          <%= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
          <% end %>
          </p>
          <p class="text"><%= truncate( article.body.html_safe, length: 50) %></p>
          <a href="<%= artist_article_path(@artist, article) %>" class="button">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

