	<div class="blog-card spring-fever">
  <div class="title-content">
    <h3><a href="#"><%= article.title %></a></h3>
    <div class="intro"> <a href="#">By <%= article.artist.first_name %> <%= article.artist.last_name %>, AKA <%= article.artist.artist_name %></a> </div>
  </div>
  <div class="card-info">
    <%= truncate(article.body.html_safe, length:65) %>
    <a href="#">Read Article<span class="licon icon-arr icon-black"></span></a>
  </div>
  <div class="utility-info">
    <ul class="utility-list">
      <li><span class="licon icon-like"></span><a href="#">2</a></li>
      <li><span class="licon icon-com"></span><a href="#">12</a></li>
      <li><span class="licon icon-dat"></span>03 jun 2017</li>
      <li><span class="licon icon-tag"></span><a href="#">Photos</a>, <a href="#">Nice</a></li>
    </ul>
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->

