<div class="card-trip">
  <% art.photos.each do |photo| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(photo.photo, width: 150, height: 120, crop: :scale) %>)">
    </div>
  <% end %>

  <div class="card-trip-infos">
    <h2><%= art.title %></h2>
    <p><%= art.description %></p>
    <p><%= art.inspiration %></p>
    <p>Available to buy? <%= art.available %></p>

      <% art.tag_list.each do |tag| %>
            <%= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
    <% end %>
    <% if @artist %>
      <%= cl_image_tag @artist.photo, class: 'card-trip-user avatar-bordered' %>
      <p><%= flag_icon(@artist.country.to_sym.downcase) %> <%= @artist.city %></p>
      <%= link_to 'See this art!', artist_art_path(@artist.id, art), method: :get  %>
    <% else %>
      <%= cl_image_tag artist.photo, class: 'card-trip-user avatar-bordered' %>
      <p><%= flag_icon(artist.country.to_sym.downcase) %> <%= artist.city %></p>
      <%= link_to 'See this art!', artist_art_path(artist.id, art), method: :get  %>
    <% end %>
  </div>

  <div class="d-flex justify-content-between w-100">
    <h2 class="card-trip-pricing">$<%= art.price_cents %></h2>
    <p><%=art.get_likes.size %> likes! </p>
      <p>  <%= art.created_at.strftime("%m/%d/%y at %l:%M %p")%>  </p>
      <p> Viewed <%= art.hits %> times </p>
  </div>
</div>


