<div class="footer">
   <div class="footer-text">
    <h4>Creators</h4>
      <p><%= link_to 'Browse Creators', artists_path  %></p>
      <p><%= link_to 'Browse Creations', browse_path  %></p>
  </div>
  <div class="footer-text">
    <h4>Company</h4>
      <p><%= link_to 'Contact Us', contact_path  %></p>
      <p><%= link_to 'Help', help_path  %></p>
  </div>
  <div class="footer-text">
    <h4>About Us</h4>
      <p><%= link_to 'About Us', about_path  %></p>
      <p><%= link_to 'Careers', career_path  %></p>
  </div>
  <div class="footer-copyright">
    Thanks for visiting <i class="fas fa-heart"></i> Creaze
  </div>
</div>
