<div class="card-trip">
    <%= cl_image_tag art.photo, height: 300, width: 400, crop: :fill %>

  <div class="card-trip-infos">
    <h2><%= art.title %></h2>
    <p>Description:  <%= art.description.gsub(/"|\[|\]/, '') %></p>
    <p>Inspiration:  <%= art.inspiration.gsub(/"|\[|\]/, '') %></p>
    <p>Available to buy? / OPTIONS <%= art.available %></p>
          <% art.tag_list.each do |tag| %>
            <%= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
    <% end %>
      <%= cl_image_tag art.artist.photo, class: 'card-trip-user avatar-bordered' %>
      <p><%= flag_icon(art.artist.country.to_sym.downcase) %> <%= art.artist.city %></p>
      <%= link_to 'See this art!', artist_art_path(art.artist, art), method: :get  %>
  </div>

  <div class="d-flex justify-content-between w-100">
    <h2 class="card-trip-pricing">$<%= art.price_cents %></h2>
    <p><%=art.get_likes.size %> likes! </p>
      <p> Viewed <%= art.hits %> times </p>
  </div>
</div>

