<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://image1.masterfile.com/getImage/700-00062344em-illustration-of-man-on-ladder-with-large.jpg", class: "avatar"%>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%#= link_to 'Back', url_for(:back), class: 'btn btn-primary mt-2' %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Browse Creations", browse_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Browse Creators", artists_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% def media  #media
        ['Painting', 'Drawing', 'Sculpture', 'Architecture', 'Ceramic', 'Electronic', 'Light', 'Graphic Design', 'Photography', 'Textile', 'Performance', 'Poetry', 'Literature', 'Collage', 'Digital', 'Animation', 'Body', 'Street', 'Graffiti', 'Glass', 'Tapestry', 'Installation', 'Calligraphy', 'Dance', 'Tattoo', 'Furniture', 'Wood', 'Nature', 'Film', 'UX/UI', 'Acting', 'Theater', 'Costumes', 'Music', 'Video Games', 'Music' ].sort
        end %>
        <% media.each do |tag| %>
          <%#= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
          <a class="dropdown-item justify-content-center" href=><%= link_to tag, "/browse?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Btag_list%5D%5B%5D=&search%5Bcountry%5D=&search%5Bcity%5D=&search%5Bsorted_by%5D=&commit=Submit" %></a>
        <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown II
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% def style  #style
        ["Abstract", "Realist", "Modern", "Pop", "Cubism", "Deco", "Nouveau", "Surrealism", "Contemporary", "Abstract Expressionism", 'Post-Impressionism', 'Collage', 'Figure Drawing', 'Landscapes', 'Still Life',  'Graffiti', 'Tattoo', 'Experimental', 'Portrait', 'Political', 'Earth', 'National/Nationalist', 'Propaganda', 'Advertising', 'Industrial', 'Agricultural', 'UX/UI', 'Social Justice' ].sort
        end %>
        <% style.each do |tag| %>
          <%#= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
          <a class="dropdown-item justify-content-center" href=><%= link_to tag, "/browse?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Btag_list%5D%5B%5D=&search%5Bcountry%5D=&search%5Bcity%5D=&search%5Bsorted_by%5D=&commit=Submit" %></a>
        <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% def style  #style
        ["Abstract", "Realist", "Modern", "Pop", "Cubism", "Deco", "Nouveau", "Surrealism", "Contemporary", "Abstract Expressionism", 'Post-Impressionism', 'Collage', 'Figure Drawing', 'Landscapes', 'Still Life',  'Graffiti', 'Tattoo', 'Experimental', 'Portrait', 'Political', 'Earth', 'National/Nationalist', 'Propaganda', 'Advertising', 'Industrial', 'Agricultural', 'UX/UI', 'Social Justice' ].sort
        end %>
        <% style.each do |tag| %>
          <%#= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
          <a class="dropdown-item justify-content-center" href=><%= link_to tag, "/browse?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Btag_list%5D%5B%5D=&search%5Bcountry%5D=&search%5Bcity%5D=&search%5Bsorted_by%5D=&commit=Submit" %></a>
        <% end %>
        </div>
      </li>


      <li class="nav-item active">
        <%= link_to "Articles", articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Services", services_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Collaborations", collaborations_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Lessons", lessons_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "About Us", about_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item active">
          <%= link_to "Liked", liked_path, class: "nav-link" %>
        </li>
         <li class="nav-item active">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </li>
       <li class="nav-item active">
          <%= link_to "Following", following_path, class: "nav-link" %>
        </li>
      <li class="nav-item active">
          <%= link_to "Followers", followers_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Orders", liked_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
        <% counter = 0 %>
        <% Conversation.where('author_id = ? OR receiver_id = ?', current_user.id, current_user.id).each do |conversation| %>

          <% if Message.where(conversation: conversation).where.not(user_id: current_user.id).where(read: false).length > 0 %>
            <% counter += Message.where(conversation: conversation).where.not(user_id: current_user.id).where(read: false).length %>
          <% end %>
        <% end %>
        <div class="position-relative">
        <% if counter > 0  %>
                    <div class="notification-badge">
                      <i class="fas fa-circle"></i>
                      <p id="badge-count"><%= counter %></p>
                    </div>
          <% end %>
          <%= link_to "Messages", conversations_path, class: "nav-link" %>
        </div>
        </li>
        <li class="nav-item dropdown">
        <% if current_user.artist %>
        <%= cl_image_tag current_user.artist.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
        <% else %>
          <%= image_tag "https://usergroups.anaplan.com/static/images/placeholder_avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%#= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Edit account", edit_user_registration_path, method: :get, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
