

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description.html_safe %>
</p>

<p>
  <strong>Body:</strong>
<%= @service.length %>
</p>

<p>
  <strong>Body:</strong>
<%= @service.price_cents %>
</p>

Add photo in later.


<%= link_to 'Delete this service!', artist_service_path(@artist, @service), class: 'btn btn-primary', method: :delete, data: {confirm: "Are you sure?"}  %>


