<% if !user.artist  %>
  <div class="card">
    <div class="card-body user_follower_card">
      <p> <%= user.username %> </p>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-body user_follower_card">
  <% if artist.artist_name %>
    <p> <%= cl_image_tag user.artist.photo, class: 'card-trip-user avatar-bordered' %><%= user.artist.first_name %> <%= user.artist.last_name %>, also known as <%= user.artist.artist_name %></p>
    <p class="row align-items-center justify-content-center"><%= link_to 'Artist Profile', artist_path(user.artist) %></p>
  <% else %>
    <p> <%= cl_image_tag user.artist.photo, class: 'card-trip-user avatar-bordered' %><%= user.artist.first_name %> <%= user.artist.last_name %></p>
    <p class="row align-items-center justify-content-center"><%= link_to 'Artist Profile', artist_path(user.artist) %></p>
  <% end %>
<% if @artist.artist_name %>
  <p class="row align-items-center justify-content-center"><%= link_to "Message #{@artist.artist_name}", conversations_path(author_id: current_user.id, receiver_id: user.id), method: "post", class: 'btn btn-primary' %></p>
  <% else %>
  <p class="row align-items-center justify-content-center"><%= link_to "Message #{@artist.first_name + @artist.last_name}", conversations_path(author_id: current_user.id, receiver_id: user.id), method: "post", class: 'btn btn-primary' %></p>
  <% end %>
  </div>
</div>


