<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-dark row align-items-center justify-content-center py-2">Browse art from around the world!</h2>
          </div>

   <%= simple_form_for :search, url: browse_path, method: "GET" do |f| %>
    <%# <%= f.input :tag_ids, as: :select2, collection: Tag.art_kinds, input_html: {multiple: true}, label: "What kind of artist do you do want?", required: false %>
    <%#<%= f.input :tag_ids, as: :select2, collection: Tag.art_types, input_html: {multiple: true}, label: "What genre of art do you want?", required: false %>
    <%#<%= f.input :country, as: :select2, collection: CountryStateSelect.countries_collection.sort, required: false %>
    <%= f.input :tag_ids, collection: Tag.art_kinds, input_html: {multiple: true}, label: "What kind of artist do you do want?", required: false %>
    <%= f.input :tag_ids, collection: Tag.art_types, input_html: {multiple: true, id: 'browse_genre_tags'}, label: "What genre of art do you want?", required: false%>
    <%= f.input :country, collection: CountryStateSelect.countries_collection.sort, required: false, input_html: { id: "browse_country"} %>
    <%= f.input :city, id:"artist_city2", required: false %>
    <%= f.input :sorted_by, :collection => %w[most_comments most_likes most_viewed most_recent], required: false %>
    <%= link_to "Reset", browse_path  %>
    <%= f.submit 'Submit', class: 'btn btn-primary'%>
  <% end %>


   <div class="content">
      <div class="products pl-5 card-grid-3c">
<% @arts.each do |art| %>
   <div class="row align-items-center justify-content-center">
      <div class="col-sm-6">
   <%= render partial: 'shared/art_card', locals: {art: art, artist: art.artist} %>
 </div>
 </div>
<% end %>
 </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center py-2">
  <%= pagy_nav(@pagy).html_safe %>
  </div>
</section>


