<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-dark row align-items-center justify-content-center py-2">Change your life with a collaboration with another creator!</h2>
        </div>

<div class="container">
<p class="row justify-content-center">
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Show search and filtering options
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
<%= simple_form_for :search, url: collaborations_path, method: "GET" do |f| %>

    <%= link_to "Reset", browse_path  %>
    <%= f.submit 'Submit', class: 'btn btn-primary'%>
  <% end %>
  </div>
</div>



  <div class="content front-page-grid pt-3">
    <div class="container front-page-grid">
     <% @collaborations.each do |collaboration| %>
      <div class="row ">
        <div class="products pl-5 card-grid-3c">
          <%= render partial: 'shared/collaboration_card_index', locals: {collaboration: collaboration, artist: collaboration.artist} %>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  </div>

  <div class="row align-items-center justify-content-center py-2">
    <%= will_paginate @collaborations %>
  </div>

</section>


