Show art they have,add new art, edit existing art, see followed shit.  Tabs.
<h1> Hello <%= @artist.first_name %>! </h1>

     <%= cl_image_tag(@artist.photo,
    width: 150, height: 100, crop: :fill) %>
<p>Share new art <%= link_to "Add Art", new_artist_art_path(@artist.id), class: 'btn btn-primary' %> </p>

Your artist tags
 <div class="my-5">
      <% @artist.tags.each do |tag| %>
        <p class="mb-0">TAG: <%= tag.name %></p>
      <% end %>
    </div>
    <p><small>Tags: <%= raw @artist.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small></p>

<p>See all of your existing art  <%= link_to "Your art", artist_arts_path(@artist.id), class: 'btn btn-primary'  %>   </p>

<% @artist.arts.each do |art| %>
   <div>
    <%= render partial: 'shared/art_card', locals: {art: art} %>
  </div>
<% end %>
<div class="container">
<div class="row">
<p>You have  <%= @artist.followers_count  %>  followers.  </p>

<p>See your followers:  <%= @user.following_users  %>   </p>

<p>They are  <%= @artist.followers  %>   </p>

<p>Your artist profile has  <%= @artist.get_likes.size  %>  likes.  </p>

<p>Edit your artist profile  <%= link_to 'Edit', edit_artist_path(@artist.id)  %>   </p>

<p>Change your username or password  <%= link_to 'Change', edit_user_registration_path(@current_user.id)  %>   </p>

  </div>
</div>

<div class="container">
<div class="row">
<p> See your conversations! <%= link_to 'Convos', conversation_path(@user) %> </p>
<p> See your conversations! <%= link_to 'Convos', conversations_path %> </p>  right one!
  </div>
</div>

DO TABS FOR THIS!
<p>See who you are following: <% @user.all_following.each do |followee| %> </p>
<%= followee.first_name %> <%= followee.last_name %> <%= followee.artist_name %>

<p>Their recent activity: <%= followee.arts.last %> Photo,showlink, date made, title,
  <%#= cl_image_tag(followee.artist.arts.photo.last,
    width: 200, height: 150, crop: :fill, class: "d-block w-100") %>
<% end %>



