Show art they have in tabs, edit existing art, see followed shit.  Tabs.
EDIT/DELETE ART HERE ONLY!  Make a new dashboard art card?
<div class="row align-items-center justify-content-center">
  <div class="row">
    <h1> Hello <%= @artist.first_name %>!</h1>
    <br>
  </div>
</div>

 <div class="row align-items-center justify-content-center">
<%= render partial: 'shared/artist_card_show', locals: {artist: @artist} %>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>Share new art <%= link_to "Add Art", new_artist_art_path(@artist.id), class: 'btn btn-primary' %> </p>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <p>Edit your artist profile/photo  <%= link_to 'Edit', edit_artist_path(@artist.id), class: 'btn btn-primary'  %>   </p>
  </div>
</div>


<div class="row align-items-center justify-content-center">
  <div class="row">
 <div class="my-5">
  <p>Your artist tags</p>
      <% @artist.tags.each do |tag| %>
        <p class="mb-0">TAG: <%= tag.name %></p>
      <% end %>
    <p><small>Tags: <%= raw @artist.tags.map(&:name).map { |t| link_to t, artists_path(t) }.join(', ') %></small></p>
    </div>
    </div>
</div>

<div class="row align-items-center justify-content-center">
<div class="row align-items-center justify-content-center">
<p>You have  <%= @artist.followers_count  %>  followers.  </p>

<p>See your followers:  <%= @user.following_users  %>   </p>

<p>They are  <%= @artist.followers  %>   </p>

<p>Your artist profile has  <%= @artist.get_likes.size  %>  likes.  </p>

<p>Change your username or password  <%= link_to 'Change', edit_user_registration_path(@current_user.id), class: 'btn btn-primary'  %>   </p>

  </div>
</div>


<div class="row align-items-center justify-content-center">
<div class="row">
<p> See your conversations! <%= link_to 'Convos', conversation_path(@user), class: 'btn btn-primary' %> </p>
<p> See your conversations! <%= link_to 'Convos', conversations_path, class: 'btn btn-primary' %> </p>  right one!
  </div>
</div>


<div class="row align-items-center justify-content-center">
<div class="row">
<p> Go to your following page <%= link_to 'Following', following_path, class: 'btn btn-primary' %> </p>
  </div>
</div>



<div class="row align-items-center justify-content-center">
  <div class="row">
<p>See all of your existing art and artist page <%= link_to "Your art", artist_arts_path(@artist.id), class: 'btn btn-primary'  %>   </p>
  </div>
</div>

Why won't new partial show?
<div class="row align-items-center justify-content-center">
      <div class="col-sm-4", id="front-page-grid">
<% @artist.arts.each do |art| %>
   <div>
    <%= render partial: 'shared/art_card_dashboard', locals: {art: art} %>
    <p><%= link_to 'Edit', edit_art_path(art), class: 'btn btn-primary'  %>   </p>
    <%#= link_to 'Delete', delete_art_path(art), class: 'btn btn-primary' %>
  </div>
<% end %>
  </div>
</div>
