Random artists from random countries and sorted by various categories to display.
Carousels by:  Liked, followers, comments, views, new/recents, country, random


<%= render partial: 'shared/banner'  %>


<div class="container">
  <div class="row">
  <h3>Explore art all around the world</h3>
  <h3>Click somewhere on the map or search</h3>
  </div>
</div>

<div class="container">
  <div class="row">
  
  </div>
</div>

 <%= simple_form_for(:country, as: :select2, method: :get, url: '/artists_countries') do |f| %>
  <%= f.input :country, as: :select2, collection: CountryStateSelect.countries_collection.sort %>
  <%= f.submit %>
<% end %>  

<div

  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"

></div>

Bootstrap test carousel I.
<div class="container">
<div class="row">
<div id="my-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://i.pinimg.com/originals/33/a8/7c/33a87c0b701bf36022b728564fbf6e6d.jpg" alt="Putin">
      <div class="carousel-caption">
        <h3>Badass</h3>
        <p>Raptor tamer.</p>
      </div>
    </div>

    <div class="item">
      <img src="https://i.imgflip.com/1itqd.jpg" alt="Einstein">
      <div class="carousel-caption">
        <h3>Genius</h3>
        <p>It's all relative.</p>
      </div>
    </div>

    <div class="item">
      <img src="https://i.redd.it/giw8aiiheo5z.jpg" alt="Rick Sanchez">
      <div class="carousel-caption">
        <h3>Combo of both</h3>
        <p>C137</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
  
</div>