<%= render partial: 'shared/banner'  %>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <h3>Explore brand new creations from all around the world</h3>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
   <%= link_to "Browse Creations", browse_path, class: 'btn btn-primary' %>
  </div>
</div>


<div class="row align-items-center justify-content-center">
  <div class="row">
    <h3>Discover brand new creators from all around the world</h3>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
   <%= link_to "See Creators", artists_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
   <h3>Select a country on the map or search box</h3>
  </div>
</div>

<div class="row align-items-center justify-content-center pb-3">
  <div class="row">
  <%= simple_form_for(:country, method: :get, url: '/artists_countries', input_html: { id: "home_page_country_1"}) do |f| %>
  <%= f.input :country, collection: CountryStateSelect.countries_collection.sort, required: false, input_html: { id: "home_page_country_2"} %>
  <%= f.submit %>
  <% end %>
  </div>
</div>

<div

  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"

></div>



  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"><%= icon('fas', 'question') %></i>

            </div>
            <h3>How it works</h3>
            <p class="lead mb-0">Creators register and provide a portfolio for the world to see.  Once entered into the network, getting discovered and being able to make a living as a creative will be far easier!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"><%= icon('fas', 'hand-holding-usd') %></i>
            </div>
            <h3>Share your creations with the world!</h3>
            <p class="lead mb-0">Get discovered easier!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"><%= icon('fas', 'lock') %></i>
            </div>
            <h3>Expand your fanbase and become more well-known!</h3>
            <p class="lead mb-0">The entire world will be able to see you!  </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <%= image_tag 'https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', class: 'col-lg-6 order-lg-2 text-white showcase-img', alt: '' %>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Want to sell your data?</h2>
          <p class="lead mb-0">Datumine provides you with a trusted way to safely and anonymously sell your personal data.  Upon registering, you'll anonymously provide as much information as you are safe with providing to better match with what buyers are looking for.  You can then either be invited by or offer them to sell your data, it's that easy!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <%= image_tag 'https://images.pexels.com/photos/158826/structure-light-led-movement-158826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', class: 'col-lg-6 text-white showcase-img', alt: '' %>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Need to buy data?</h2>
          <p class="lead mb-0">Much of the world's available personal data that you may need is impossible to come by.  Buy it here from the sellers that are willing to sell it for the right price!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <%= image_tag 'https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', class: 'col-lg-6 order-lg-2 text-white showcase-img', alt: '' %>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Why use Datumine?</h2>
          <p class="lead mb-0">Nowhere in the world can you find such a safe, reliable, and legal platform to exchange personal data in!  Register to make a potentially lucrative side income or obtain that impossible to find data today!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Why should you register?</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag 'https://images.pexels.com/photos/39624/padlock-lock-chain-key-39624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', class: 'img-fluid rounded-circle mb-3', alt: '' %>
            <h5>Creaze can help you get found!</h5>
            <p class="font-weight-light mb-0">"There's no better platform that provides such robust data exchange possibilities so safely!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag 'https://images.pexels.com/photos/38275/anonymous-studio-figure-photography-facial-mask-38275.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', class: 'img-fluid rounded-circle mb-3', alt: '' %>
            <h5>Creaze can help you make a living!</h5>
            <p class="font-weight-light mb-0">"Buyers will usually never know who you are!  Buyers will be vetted by providing robust information about themselves before being allowed to participate!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag 'https://images.pexels.com/photos/247851/pexels-photo-247851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', class: 'img-fluid rounded-circle mb-3', alt: '' %>
            <h5>Creaze can help you become better!</h5>
            <p class="font-weight-light mb-0">"Our data is our data, it belongs to us.  We should have the right to sell our data if we want to and to buy data from those wanting to sell it.  Take the control back!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay" style="backglround-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url();"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              </div>
              <div class="col-12 col-md-3 mx-auto pb-5">
                <%= link_to "Sign up now!", new_user_registration_path, class: 'btn btn-primary' %>
              </div>
        </div>
      </div>
    </div>


  </section>




<section class="clean-block clean-catalog dark">
  <div class="row align-items-center justify-content-center flex-column">
    <div class="block-heading">
      <h2 class="text-dark row align-items-center justify-content-center">Browse our artists</h2>
    </div>
  </div>

<p class="grid-headers pt-2 pb-1">A random sample of some of our artists!</p>
  <div class="container front-page-grid">
    <% @artists.sample(3).each do |artist| %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">A random sample of some our arts</p>
  <div class="container front-page-grid">
    <% @arts.sample(3).each do |art| %>
      <div class="row">
        <div class="products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most liked arts!</p>
  <div class="container front-page-grid">
    <% @arts.sort_by { |art| -art.get_likes.size }.first(3).each do |art|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most liked artists.</p>
  <div class="container front-page-grid">
      <% @artists.sort_by { |artist| -artist.get_likes.size }.first(3).each do |artist|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most popular creators.</p>
  <div class="container front-page-grid">
    <% @artists.sort_by { |artist| -artist.followers_count }.first(3).each do |artist|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most commented on creations.</p>
  <div class="container front-page-grid">
    <%# @arts.sort_by { |art| -art.comments.size }.first(3).each do |art|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%#= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <%# end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most seen creations.</p>
  <div class="container front-page-grid">
    <% @arts.sort_by { |art| -art.hits }.first(3).each do |art|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most seen creators.</p>
  <div class="container front-page-grid">
    <% @artists.sort_by { |artist| -artist.hits }.first(3).each do |artist|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most recent creators.</p>
  <div class="container front-page-grid">
    <% @artists.sort_by { |artist| artist.id }.last(3).each do |artist|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most recently added creations.</p>
  <div class="container front-page-grid">
    <% @arts.sort_by { |art| art.id }.last(3).each do |art|  #or created_at %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">See the creators of <%= CountryStateSelect.countries_collection.sample %>.</p>
  <div class="container front-page-grid">
  <% @artists.where(country: CountryStateSelect.countries_collection.sample).each do |artist| %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

</section>
