<%= render partial: 'shared/banner'  %>


<div class="row align-items-center justify-content-center">
  <div class="row">
  <h3>Explore art from all around the world</h3>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
   <%= link_to "Browse Art", browse_path, class: 'btn btn-primary' %>
  </div>
</div>


<div class="row align-items-center justify-content-center">
  <div class="row">
  <h3>Discover undiscovered artists from all around the world</h3>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
   <%= link_to "See Artists", artists_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
   <h3>Click a country on the map or search</h3>
  </div>
</div>

 <%= simple_form_for(:country, as: :select2, method: :get, url: '/artists_countries') do |f| %>
  <%= f.input :country, as: :select2, collection: CountryStateSelect.countries_collection.sort, required: false %>
  <%= f.submit %>
<% end %>

<div

  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"

></div>


<section class="clean-block clean-catalog dark">
<div class="row align-items-center justify-content-center flex-column">
  <div class="block-heading">
    <h2 class="text-info">Browse our artists</h2>
  </div>


<p class="grid-headers">A small sample of some of our artists!</p>
<div class="container front-page-grid">
  <% @artists.sample(3).each do |artist| %>
    <div class="row">
      <div class=" products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
      </div>
    </div>
  <% end %>
</div>

<p class="grid-headers">A small sample of some our arts</p>
<div class="container front-page-grid">
  <% @arts.sample(3).each do |art| %>
    <div class="row">
      <div class="products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_art_card', locals: {art: art} %>
      </div>
    </div>
  <% end %>
</div>

<p class="grid-headers">Our most liked arts!</p>
<div class="container front-page-grid">
    <% @arts.sort_by { |art| -art.get_likes.size }.first(3).each do |art|  %>
    <div class="row">
      <div class=" products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_art_card', locals: {art: art} %>
      </div>
    </div>
  <% end %>
</div>

<p class="grid-headers">Our most liked artists.</p>
<div class="container front-page-grid">
    <% @artists.sort_by { |artist| -artist.get_likes.size }.first(3).each do |artist|  %>
    <div class="row">
      <div class=" products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
      </div>
    </div>
  <% end %>
</div>

<p class="grid-headers">Our most followed artists.</p>
<div class="container front-page-grid">
  <% @artists.sort_by { |artist| -artist.followers_count }.first(3).each do |artist|  %>
    <div class="row">
      <div class=" products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
      </div>
    </div>
  <% end %>
</div>

<p class="grid-headers">Our most commented on arts.</p>
<div class="container front-page-grid">
  <% @arts.sort_by { |art| -art.comments.count }.first(3).each do |art|  %>
    <div class="row">
      <div class=" products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_art_card', locals: {art: art} %>
      </div>
    </div>
  <% end %>
</div>

<p class="grid-headers">Our most viewed arts.</p>
<div class="container front-page-grid">
  <% @arts.sort_by { |art| -art.hits }.first(3).each do |art|  %>
    <div class="row">
      <div class=" products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_art_card', locals: {art: art} %>
      </div>
    </div>
  <% end %>
</div>

<p class="grid-headers">Our most viewed artists.</p>
<div class="container front-page-grid">
  <% @artists.sort_by { |artist| -artist.hits }.first(3).each do |artist|  %>
    <div class="row">
      <div class=" products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
      </div>
    </div>
  <% end %>
</div>

<p class="grid-headers">Grid test VII artists by most recent negative - won't work here, why?  Putin won't show when loggedin.
method = artist.created_at  only one that own't work.</p>

<div class="container front-page-grid">
  <% @artists.sort_by { |artist| artist.created_at }.last(3).each do |artist|  %>
    <div class="row">
      <div class=" products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
      </div>
    </div>
  <% end %>
</div>


<p class="grid-headers">Most recently added art.</p>
<div class="container front-page-grid">
  <% @arts.sort_by { |art| art.created_at }.last(3).each do |art|  %>
    <div class="row">
      <div class=" products pl-5 card-grid-3c">
        <%= render partial: 'shared/home_art_card', locals: {art: art} %>
      </div>
    </div>
  <% end %>
</div>

<p class="grid-headers">Grid test IX Artists of a random country...</p>


 </div>
</section>
