<%= render partial: 'shared/banner'  %>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <h3>Explore brand new creations from all around the world</h3>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
   <%= link_to "Browse Creations", browse_path, class: 'btn btn-primary' %>
  </div>
</div>


<div class="row align-items-center justify-content-center">
  <div class="row">
    <h3>Discover brand new creators from all around the world</h3>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
   <%= link_to "See Creators", artists_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
   <h3>Select a country on the map or search box</h3>
  </div>
</div>

<div class="row align-items-center justify-content-center pb-3">
  <div class="row">
  <%= simple_form_for(:country, method: :get, url: '/artists_countries', input_html: { id: "home_page_country_1"}) do |f| %>
  <%= f.input :country, collection: CountryStateSelect.countries_collection.sort, required: false, input_html: { id: "home_page_country_2"} %>
  <%= f.submit %>
  <% end %>
  </div>
</div>

<div

  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"

></div>



  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"><%= icon('fas', 'question') %></i>

            </div>
            <h3>How it works</h3>
            <p class="lead mb-0">Creators register and can provide a portfolio of various services to offer to the world.  Once entered into the network, getting discovered, getting new fans, and being able to make a living as a creative will become far easier!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"><%= icon('fas', 'share-alt') %></i>
            </div>
            <h3>Share your creative portfolio with the world</h3>
            <p class="lead mb-0">Creators can upload all of their creations to show to the world.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"><%= icon('fas', 'dollar-sign') %></i>
            </div>
            <h3>Offer your services to the world</h3>
            <p class="lead mb-0">Creaze is designed to make your ability to earn a living more easy.  Use our many existing and tools to come so that you can earn a living more reliably!  </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <%= image_tag 'https://images.pexels.com/photos/979927/pexels-photo-979927.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500', class: 'col-lg-6 order-lg-2 text-white showcase-img', alt: '' %>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Want to get discovered more easily?</h2>
          <p class="lead mb-0">Creaze provides you with a trusted way to to get discovered by the rest of the world!  No more working in anonymity or relying upon archaic systems to get discovered.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <%= image_tag 'https://images.pexels.com/photos/1072824/pexels-photo-1072824.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500', class: 'col-lg-6 text-white showcase-img', alt: '' %>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Want to make a living more sustainably?</h2>
          <p class="lead mb-0">Creaze provides you with a powerful set of tools with which you can use to make a living as a creative far easier than ever before!  Take back control into your own hands and earn a living doing what you love.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <%= image_tag 'https://images.pexels.com/photos/167964/pexels-photo-167964.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500', class: 'col-lg-6 order-lg-2 text-white showcase-img', alt: '' %>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Why use Creaze?</h2>
          <p class="lead mb-0">It's already hard enough to make a living as a struggling creative today.  Allow for us to assist you in making your career a bit easier.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Why should you register?</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag 'https://images.pexels.com/photos/39624/padlock-lock-chain-key-39624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', class: 'img-fluid rounded-circle mb-3', alt: '' %>
            <h5>Creaze can help you unlock your potential!</h5>
            <p class="font-weight-light mb-0">"By doing the hard work of providing you with the tools that you need to make a living, you can expand your capabilities and focus on accomplishing more!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag 'https://images.pexels.com/photos/6945/sunset-summer-golden-hour-paul-filitchkin.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500', class: 'img-fluid rounded-circle mb-3', alt: '' %>
            <h5>Creaze can help you make a living!</h5>
            <p class="font-weight-light mb-0">"There are many different ways available for you to generate a sustainable income through Creaze.  Let us help you make a living through your creativity."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag 'https://images.pexels.com/photos/2014775/pexels-photo-2014775.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500', class: 'img-fluid rounded-circle mb-3', alt: '' %>
            <h5>Interact with current fans while obtaining new ones!</h5>
            <p class="font-weight-light mb-0">"Connect better with your existing fans and more easily make new ones!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay" style="backglround-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url();"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="form-row">
              </div>
              <div class="col-12 col-md-3 mx-auto pb-5">
                <%= link_to "Sign up now!", new_user_registration_path, class: 'btn btn-primary' %>
              </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action II for new subscription model-->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Interested in getting onto a pre-launch list or in being a beta user? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <%# binding.pry %>
                  <%= simple_form_for @subscription, url: subscriptions_path, method: :post, html: { action: subscriptions_path } do |f| %>
                  <%= f.input :email, placeholder: 'Enter your email please...', required: false, label: false %>
                  <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
                  <% end %>

              <div class="col-12 col-md-3">

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


<section class="clean-block clean-catalog dark">
  <div class="row align-items-center justify-content-center flex-column">
    <div class="block-heading">
      <h2 class="text-dark row align-items-center justify-content-center">See what our network of creators are doing</h2>
    </div>
  </div>

<p class="grid-headers pt-2 pb-1">A random sample of some of our creators</p>
  <div class="container front-page-grid">
    <% @artists.sample(3).each do |artist| %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">A random sample of some our creations</p>
  <div class="container front-page-grid">
    <% @arts.sample(3).each do |art| %>
      <div class="row">
        <div class="products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most liked creations</p>
  <div class="container front-page-grid">
    <% @arts.sort_by { |art| -art.get_likes.size }.first(3).each do |art|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most liked creators</p>
  <div class="container front-page-grid">
      <% @artists.sort_by { |artist| -artist.get_likes.size }.first(3).each do |artist|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most popular creators</p>
  <div class="container front-page-grid">
    <% @artists.sort_by { |artist| -artist.followers_count }.first(3).each do |artist|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most commented on creations</p>
  <div class="container front-page-grid">
    <%# @arts.sort_by { |art| -art.comments.size }.first(3).each do |art|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%#= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <%# end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most viewed creations</p>
  <div class="container front-page-grid">
    <% @arts.sort_by { |art| -art.hits }.first(3).each do |art|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most viewed creators</p>
  <div class="container front-page-grid">
    <% @artists.sort_by { |artist| -artist.hits }.first(3).each do |artist|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most recently registered creators</p>
  <div class="container front-page-grid">
    <% @artists.sort_by { |artist| artist.id }.last(3).each do |artist|  %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">Our most recently added creations </p>
  <div class="container front-page-grid">
    <% @arts.sort_by { |art| art.id }.last(3).each do |art|  #or created_at %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_art_card', locals: {art: art} %>
        </div>
      </div>
    <% end %>
  </div>

<p class="grid-headers pt-2 pb-1">See the creators of <%= CountryStateSelect.countries_collection.sample %>.</p>
  <div class="container front-page-grid">
    <% @artists.where(country: CountryStateSelect.countries_collection.sample).each do |artist| %>
      <div class="row">
        <div class=" products pl-5 card-grid-3c">
          <%= render partial: 'shared/home_artist_card', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

</section>
