<div class="row align-items-center justify-content-center py-2">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Artists you've liked</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="creation-tab" data-toggle="tab" href="#creation" role="tab" aria-controls="creation" aria-selected="false">Arts you've liked</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="true">Services you've liked</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="article-tab" data-toggle="tab" href="#article" role="tab" aria-controls="article" aria-selected="true">Articles you've liked</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="collaboration-tab" data-toggle="tab" href="#collaboration" role="tab" aria-controls="collaboration" aria-selected="true">Collaborations you've liked</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="lesson-tab" data-toggle="tab" href="#lesson" role="tab" aria-controls="lesson" aria-selected="true">Lessons/classes you've liked</a>
  </li>
</ul>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="container artists-index-grid">
    <% @artists.each do |artist| %>
          <div class="row">
            <div class=" products pl-5 card-grid-3c mb-3">
              <%= render partial: 'shared/artist_card_experimental', locals: {artist: artist} %>
            </div>
          </div>
     <% end %>
      </div>
  </div>

  <div class="tab-pane fade" id="creation" role="tabpanel" aria-labelledby="creation-tab">
    <div class="container front-page-grid pt-3">
      <% @arts.each do |art| %>
        <div class="row ">
          <div class="products pl-5 card-grid-3c mb-3">
            <%= render partial: 'shared/art_card', locals: {art: art, artist: art.artist} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

 <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
   <div class="container front-page-grid pt-3">
    <% @services.each do |service| %>
      <div class="row ">
        <div class="products pl-5 card-grid-3c mb-3">
          <%= render partial: 'shared/service_card_index', locals: {service: service, artist: service.artist} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="tab-pane fade" id="article" role="tabpanel" aria-labelledby="article-tab">
  <div class="container front-page-grid pt-3">
    <% @articles.each do |article| %>
      <div class="row ">
        <div class="products pl-5 card-grid-3c mb-3">
          <%= render partial: 'shared/article_card', locals: {article: article, artist: article.artist} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

 <div class="tab-pane fade" id="collaboration" role="tabpanel" aria-labelledby="collaboration-tab">
   <div class="container front-page-grid pt-3">
    <% @collaborations.each do |collaboration| %>
      <div class="row ">
        <div class="products pl-5 card-grid-3c mb-3">
          <%= render partial: 'shared/collaboration_card_index', locals: {collaboration: collaboration, artist: collaboration.artist} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

 <div class="tab-pane fade" id="lesson" role="tabpanel" aria-labelledby="lesson-tab">
  <div class="container front-page-grid pt-3">
    <% @lessons.each do |lesson| %>
      <div class="row ">
        <div class="products pl-5 card-grid-3c mb-3">
          <%= render partial: 'shared/lesson_card', locals: {lesson: lesson, artist: lesson.artist} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>
