<div class="row align-items-center justify-content-center py-2">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Artists liked</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Arts liked</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Services liked</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Articles liked</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Collaborations liked</a>
  </li>
</ul>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% @artists.each do |artist| %>
      <div class=" row align-items-center justify-content-center">
        <div class="col-sm-6">
          <%= render partial: 'shared/artist_card_liked', locals: {artist: artist} %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <% @arts.each do |art| %>
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-6">
          <%= render partial: 'shared/art_card', locals: {art: art, artist: art.artist} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

 <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <% @services.each do |service| %>
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-6">
          <%= render partial: 'shared/service_card', locals: {service: service, artist: service.artist} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

 <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <% @articles.each do |article| %>
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-6">
          <%= render partial: 'shared/article_card', locals: {article: article, artist: article.artist} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

 <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <% @collaborations.each do |collaboration| %>
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-6">
          <%= render partial: 'shared/collaboration_card', locals: {collaboration: collaboration, artist: collaboration.artist} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
