<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-dark row align-items-center justify-content-center py-2">Browse through the services our creators have to offer!</h2>
        </div>

<div class="container">
<p class="row justify-content-center">
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Show search and filtering options
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
<%= simple_form_for :search, url: services_path, method: "GET" do |f| %>
    <%= f.input :title, required: false, label: "Search for keywords in service titles" %>
    <%= f.input :body, required: false, label: "Search for keywords within the service description" %>
    <%= f.input :tag_list, collection: Article.media, input_html: {multiple: true, id: 'browse_art_media'}, label: "What kind of creator do you do want to see services from?", required: false %>
    <%= f.input :tag_list, collection: Article.styles, input_html: {multiple: true, id: 'browse_genre_tags'}, label: "What type of creation do you see services for?", required: false %>
    <%= f.input :country, collection: CountryStateSelect.countries_collection.sort, required: false, input_html: { id: "browse_country"}, label: "Which country do you want to see services from?" %>
    <%= f.input :city, id:"artist_city2", required: false, label: "What city do you want to see services from?" %>
    <%#= f.input :sorted_by, :collection => %w[most_comments most_likes most_viewed most_recent], required: false %>
    <%= link_to "Reset", services_path  %>
    <%= f.submit 'Submit', class: 'btn btn-primary'%>
  <% end %>
  </div>
</div>



  <div class="content front-page-grid pt-3">
    <div class="container front-page-grid">
     <% @services.each do |service| %>
      <div class="row ">
        <div class="products pl-5 card-grid-3c">
          <%= render partial: 'shared/service_card_index', locals: {service: service, artist: service.artist} %>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  </div>

  <div class="row align-items-center justify-content-center py-2">
    <%= will_paginate @services %>
  </div>

</section>


