Free versus price displayed

<div class="section">
  <div class="container">

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <% if @lesson.photo.present? %>
           <%= cl_image_tag @lesson.photo, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag "https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg" %>
            <%#= cl_image_tag @artist.photo, height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <h2 class=""><strong><%= @lesson.title %></strong></h2>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <% @lesson.tag_list.each do |tag| %>
            <%= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
          <% end %>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class="">Collaboration requested on <%= @lesson.created_at.strftime("%b %d, %Y") %> by <%= link_to @lesson.artist.artist_name, artist_path(@lesson.artist), method: :get %> </p> <img class="avatar-bordered" alt="avatar-bordered" <% cl_image_tag @lesson.artist.photo %> />
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p> Viewed <%= @lesson.hits %> times  </p>
          <p>Liked <%= @lesson.get_likes.size %> times! </p>
        </div>
      </div>


      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p><strong>Share: </strong><%= social_share_button_tag(@lesson.title,) %> </p>
          <br>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class="">Are you interested in collaborating with <%= @lesson.artist.artist_name %>? </p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class="">Then get in contact with them!  <%=  %></p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center py-2">
        <div class="row">
          <%= link_to 'like', lessons_likes_path(@lesson), class: 'btn btn-primary' %>
          <%= link_to 'unlike', lessons_unlikes_path(@lesson), class: 'btn btn-primary' %>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class=""><%= @lesson.description.gsub(/"|\[|\]/, '') %></p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class=""><%= @lesson.subdescription %></p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class=""><%= @lesson.learnings.gsub(/"|\[|\]/, '') %></p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class=""><%= @lesson.prerequisites.gsub(/"|\[|\]/, '') %></p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center ">
       <div class="row">
         <%= commontator_thread(@lesson) %>
       </div>
     </div>

  </div>
</div>
