<div class="row align-items-center justify-content-center">
   <div class="col-sm-8">
     <div class="">
       <img src="" alt="" class="img-fluid">
     </div>
     <div class="col card p-4 m-4 bg-light">
       <h2>Share your art with the world!</h2>
       <%= simple_form_for [@artist, @art] do |f|%>
       <%= f.input :title %>
      <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
       <%= f.input :photo %>
       <%= f.input :photo_cache, as: :hidden %>
       <%#= f.input :photo, as: :file %>
       <%= f.input :description, as: :trix_editor %>
       <%= f.input :tag_list, collection: Art.media, input_html: {multiple: true, id: "art_new_kinds"}, label: "What medium of art is this?" %>
       <%= f.input :tag_list, collection: Art.styles, input_html: {multiple: true, id: "art_new_types"}, label: "How would you describe this art?" %>
       <%= f.input :inspiration, label: "Inspiration for this art?" %>
       <%= f.input :completion_date %>
       <%= f.input :available, label: "Available for purchase?" %>
       <%= f.input :price_cents, label: "Price" %>
       <div style="text-align:center">
       <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
       </div>
       <% end %>
     </div>
   </div>
 </div>
