 <div class="container">
   <div class="row">
     <div class="col mt-4">
       <img src="" alt="" class="img-fluid">
     </div>
     <div class="col card p-4 m-4 bg-light">
       <h2>Share your art with the world!</h2>

       <%= simple_form_for [@artist, @art] do |f|%>
       <%= f.input :title %>
       <%= f.input :photo %>
       <%= f.input :description %>
       <%= f.input :completion_date %>
       <%= f.input :inspiration, label: "Inspiration for this art?" %>
       <%= f.input :available, label: "Available for purchase?" %>
       <%= f.input :price_cents, label: "Price" %>
       <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
       <%= f.input :tag_list, as: :check_boxes, collection: [ "test 1", "test 2", "test 3", "test ACB" ] %>
       <%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
       <% end %>
     </div>
   </div>
 </div>
