<div class="container">
<div class="row">
<%= link_to 'Like', art_likes_path(@art) %>
<%= link_to 'Unlike', art_unlikes_path(@art) %>

<% if @art.available? %>
<p>Price: <%= humanized_money_with_symbol(@art.price) %></p> 
<% end %>
<br>
<p>Has <%=@art.get_likes.size %> likes! </p>
  </div>
</div>

<div class="container">
  <div class="row">
<h1>Done by this artist:<h1>
     <%= cl_image_tag(@artist.photo,
    width: 200, height: 150, crop: :fill) %>
    <br>
<div class="container">
  <div class="row">
    <p> <%=@artist.first_name %> <%=@artist.last_name %> </p>
    <br>
    <p>Also known as <%=@artist.artist_name %> </p>
    <br>
    <p>From <%=@artist.city %> </p>
 
    <%= link_to 'See more of this artist', artist_path(@artist) %>
  </div>
</div>
<div class="container">
  <div class="row">
  <%= cl_image_tag(@art.photo,
    width: 400, height: 300, crop: :fill) %>
  </div>
</div>

<ul>
  <% @art.photos.each do |photo| %>
    <li><%= cl_image_tag(photo.photo, width: 400, height: 300, crop: :fill) %></li>
  <% end %>
</ul>

<% if @art.available %>
 <%= form_tag orders_path do %>
  <%= hidden_field_tag 'art_id', @art.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
<% end %>


<h5>Photos</h5>
<ul>
  <% @art.photos.each do |picture| %>
    <!-- `picture` here is an instance of the Picture model -->
    <li><%= cl_image_tag(picture.photo, width: 400, height: 300, crop: :fill) %></li>
  <% end %>
</ul>



<p>There are <%= @art.comments.count %> comments </p>

<div class="container">
  <div class="row">
    <%= render partial: 'comments/form', locals: {comment: @comment} %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render partial: 'comments/comment', collection: @art.comments %>
  </div>
</div>
<div class="container">
  <div class="row">
<h1>COMMENTS TEST</h1>
  </div>
</div>









