 <div class="row align-items-center justify-content-center pt-2">
   <%= render partial: 'shared/art_card_show', locals: {art: @art} %>
 </div>


<div class="row align-items-center justify-content-center">
<div class="row">
<p><strong>Share: </strong><%= social_share_button_tag(@art.title,) %> </p>
<br>
  </div>
</div>

<div class="row align-items-center justify-content-center py-2">
  <div class="row">
<% if @art.available %>
<p><strong>Price: </strong><%= humanized_money_with_symbol(@art.price) %></p>
 <%= form_tag orders_path do %>
  <%= hidden_field_tag 'art_id', @art.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
<% end %>
  </div>
</div>

  <div class="row align-items-center justify-content-center">
    <h5>This creation was made by this creator</h5>
  </div>

  <div class="row align-items-center justify-content-center">
    <%= render partial: 'shared/artist_card', locals: {artist: @artist} %>
  </div>

<div class="row align-items-center justify-content-center pt-3">
  <div class="">
    <%#= render partial: 'comments/form', locals: {comment: @comment} %>
  </div>
</div>

<div class="row align-items-center justify-content-center pt-1">
  <div class="row">
    <p>There are <%#= @art.comments.size %> comments </p>
  </div>
</div>

<div class="row align-items-center justify-content-center ">
  <div class="col-sm-6">
    <%#= render partial: 'comments/comment', collection: @art.comments %>
    <%= commontator_thread(@art) %>
  </div>
</div>






