 <div class="row align-items-center justify-content-center">
   <%= render partial: 'shared/art_card_show', locals: {art: @art} %>
 </div>


<div class="row align-items-center justify-content-center">
  <div class="row">
<% if @art.available %>
<p>Price: <%= humanized_money_with_symbol(@art.price) %></p>
 <%= form_tag orders_path do %>
  <%= hidden_field_tag 'art_id', @art.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
<% end %>
  </div>
</div>

<div class="row align-items-center justify-content-center">
<div class="row">
 <p><small>Tags: <%= raw @art.tags.map(&:name).map { |t| link_to t, browse_path(t) }.join(', ') %></small></p>
<%= link_to 'Like', art_likes_path(@art), class: 'btn btn-primary' %>
<%= link_to 'Unlike', art_unlikes_path(@art), class: 'btn btn-primary' %>
<p>Share: <%= social_share_button_tag(@art.title,) %> </p>
<br>
<p>Has <%=@art.get_likes.size %> likes! </p>
<p> Viewed <%= @art.hits %> times </p>
  </div>
</div>



  <div class="row align-items-center justify-content-center">
    <%= render partial: 'shared/artist_card', locals: {artist: @artist} %>
  </div>

<div class="row align-items-center justify-content-center">
  <div class="row">
<p>There are <%= @art.comments.count %> comments </p>
</div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <%= render partial: 'comments/form', locals: {comment: @comment} %>
  </div>
</div>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <%= render partial: 'comments/comment', collection: @art.comments %>
  </div>
</div>




