<div class="container">
<div class="row">
<%= link_to 'Like', art_likes_path(@art) %>
<%= link_to 'Unlike', art_unlikes_path(@art) %>
<br>
<p>Has <%=@art.get_likes.size %> likes! </p>
  </div>
</div>

<div class="container">
  <div class="row">
<h1>Done by this artist:<h1>
<div class="container">
  <div class="row">
    First name: <%=@artist.first_name %>
    <br>
    Last name: <%=@artist.last_name %>
    <br>
    <%=@artist.artist_name %>
    <br>
    <p>Also known as <%=@artist.birth_place %> </p>
    <br>
     <%= cl_image_tag(@artist.photo,
    width: 200, height: 150, crop: :fill) %>
    <br>
    <%= link_to 'See this artist', artist_path(@artist) %>
  </div>
</div>
<div class="container">
  <div class="row">
  <%= cl_image_tag(@art.photo,
    width: 400, height: 300, crop: :fill) %>
  </div>
</div>

<ul>
  <% @art.photos.each do |picture| %>
    <li><%= cl_image_tag(picture.photo, width: 400, height: 300, crop: :fill) %></li>
  <% end %>
</ul>



<div class="container">
  <div class="row">
    <%= render partial: 'comments/form', locals: {comment: @comment} %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render partial: 'comments/comment', collection: @art.comments %>
  </div>
</div>
<div class="container">
  <div class="row">
<h1>COMMENTS TEST</h1>
  </div>
</div>









