comments, add a messaging option here!  Or something in between them!
<div class="section">
  <div class="container">

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <% if @collaboration.photo.present? %>
           <%= cl_image_tag @collaboration.photo, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag "https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg" %>
            <%#= cl_image_tag @artist.photo, height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <h2 class=""><strong><%= @collaboration.title %></strong></h2>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <% @collaboration.tag_list.each do |tag| %>
            <%= link_to tag, "/artists?utf8=✓&search%5Btag_list%5D%5B%5D=&search%5Btag_list%5D%5B%5D=#{tag}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" %>
          <% end %>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class="">Collaboration requested on <%= @collaboration.created_at.strftime("%b %d, %Y") %> by <%= link_to @collaboration.artist.artist_name, artist_path(@collaboration.artist), method: :get %> </p> <img class="avatar-bordered" alt="avatar-bordered" <% cl_image_tag @collaboration.artist.photo %> />
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p> Viewed <%= @collaboration.hits %> times  </p>
          <p>Liked <%= @collaboration.get_likes.size %> times! </p>
        </div>
      </div>


      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p><strong>Share: </strong><%= social_share_button_tag(@collaboration.title,) %> </p>
          <br>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class="">Are you interested in collaborating with <%= @collaboration.artist.artist_name %>? </p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class="">Then get in contact with them!  <%=  %></p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center py-2">
        <div class="row">
          <%= link_to 'like', collaborations_likes_path(@collaboration), class: 'btn btn-primary' %>
          <%= link_to 'unlike', collaborations_unlikes_path(@collaboration), class: 'btn btn-primary' %>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class=""><%= @collaboration.description %></p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="row">
          <p class=""><%= @collaboration.goal %></p>
        </div>
      </div>

  </div>
</div>
